.jumbotron {
  padding-top: 5rem;
  background-color: #cbd2a4;
}

#about {
  background-color: #a28b55;
}

#projects {
  background-color: #cbd2a4;
}

#kemampuan {
  background-color: #a28b55;
}

#contact {
  background-color: #cbd2a4;
}

section {
  padding-top: 5rem;
}
